.sk_ui_section {
    border: solid 1px var(--sk_ui_color_dark_grey);
    border-radius: 8px;
    overflow: hidden;
}

.sk_ui_section_top {
}

.sk_ui_section_titleContainer {
    height: 32px;
    height: 100%;
    background: linear-gradient(0deg, #2f2e2e47 0%, var(--sk_ui_color_dark_grey) 100%);
    padding: 8px 16px;
}

.sk_ui_section_title_wing {
    width: 42px;
    height: 100%;
    background: linear-gradient(to bottom right, var(--sk_ui_color_dark_grey) 0%, var(--sk_ui_color_dark_grey) 50%, transparent 50%, transparent 100%);
    mask: linear-gradient(0deg, #ffffff47 0%, white 100%);
}
