
.sk_ui_groupCollapsable > .sk_ui_group_top {
    padding: 6px;
}

.sk_ui_groupCollapsable_collapsed > .sk_ui_group_container {
    height: 0px;
    padding: 0px;
    opacity: 0;
}

.sk_ui_groupCollapsable_collapsed > .sk_ui_group_top {
    margin-bottom: 0px;
}

/* top container */
.sk_ui_groupCollapsable > .sk_ui_group_top:hover {
    background-color: var(--sk_ui_color_black_50);
}

.sk_ui_groupCollapsable > .sk_ui_group_top:active {
    opacity: 0.5;
}


.sk_ui_groupCollapsable_collapseButton:hover {
    background-color: unset;
}


.sk_ui_groupCollapsable_collapsable_false > .sk_ui_group_top > .sk_ui_groupCollapsable_collapseButton {
    opacity: 0;
}

.sk_ui_groupCollapsable_collapseButton  {
    padding: 0px !important;
    border-radius: 100%;
}