
.sk_ui_progressBar_circular {
    height: 100px;
    width: 100px;
    position: relative;
    /*transform: scale(1);*/
}
.sk_ui_progressBar_circular > #inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: black;
    border-radius: 100%;
   
}
.sk_ui_progressBar_circular_bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}
.sk_ui_progressBar_circular_bar > #progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #ffffff;
}
.sk_ui_progressBar_bar_left > #progress {
    z-index:1;
    /*animation: sk_ui_progressBar_circle_animation_left 4s linear both;*/
}
@keyframes sk_ui_progressBar_circle_animation_left {
    100%{
      transform: rotate(180deg);
    }
}
.sk_ui_progressBar_bar_right {
    transform: rotate(180deg);
    z-index:3;
   
  }
.sk_ui_progressBar_bar_right > #progress{
    /*animation: sk_ui_progressBar_circle_animation_right 4s linear both;*/
    animation-delay:4s;
}
@keyframes sk_ui_progressBar_circle_animation_right {
    100%{
        transform: rotate(180deg);
    }
}



.sk_ui_progressBar_bar {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 32px;
}

.sk_ui_progressBar_bar_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    bottom: 0px;
    border-radius: 32px;
}