.sk_ui_checkbox {
    padding: 0px;
}

.sk_ui_checkbox:hover {
    background-color: transparent;
}

.sk_ui_checkbox:hover > .sk_ui_icon {
    border: solid 1px white;
}

.sk_ui_checkbox > .sk_ui_icon {
    border: solid 1px rgb(89, 89, 89) !important;
    border-radius: 4px;
    padding: 2px;
    font-size: 10px;

    width: 16px;
    height: 16px
}

.sk_ui_checkbox > .sk_ui_icon.sk_ui_safari {
    padding-top: 3px;
}

.sk_ui_checkbox_on {
    transform: scale(1) !important;
    opacity: 1 !important;
}