.sk_ui_dappTitlebar {
    height: 28px;
    margin-bottom: 0px !important;
    position: relative;
    z-index: 99999;
    background-color: var(--sk_ui_color_very_dark_grey);
}


.sk_ui_dappTitlebar_actions {
    position: absolute;
}

.sk_ui_dappTitlebar_actions > .sk_ui_dappTitlebar_actions_button {
    margin: 0px;
}

.sk_ui_dappTitlebar_actions_win {
    right: 0px;
}


.sk_ui_dappTitlebar_actions_mac {
    left: 0px;
}








/****  sk_ui_dappTitlebar_actions_button  ****/

.sk_ui_dappTitlebar_actions_button {
    padding: 0px;
}




/****  win  ****/

.sk_ui_dappTitlebar_actions_button_win {
    width: 42px;
}

.sk_ui_dappTitlebar_actions_button_win > .sk_ui_icon {
    font-size: 12px;
}

.sk_ui_dappTitlebar_actions_button_win:active {
    opacity: 0.5;
}

.sk_ui_dappTitlebar_actions_button_win:hover {
    background-color: var(--sk_ui_color_dark_grey);
}


.sk_ui_dappTitlebar_actions_button_win:hover > .sk_ui_icon {
    color: white;
}

.sk_ui_dappTitlebar_actions_button_win.sk_ui_dappTitlebar_actions_button_closeBtn:hover {
    background-color: rgb(241, 36, 0);
}


/****  mac  ****/

:root {
    --sk_ui_dappTitlebar_color_button_close_mac    : rgb(236, 106, 84);
    --sk_ui_dappTitlebar_color_button_minimize_mac : rgb(244, 191, 79);
    --sk_ui_dappTitlebar_color_button_maximize_mac : rgb(97, 197, 83);
}

.sk_ui_dappTitlebar_actions_mac {
    left: 8px;
}

.sk_ui_dappTitlebar_actions_mac > .sk_ui_dappTitlebar_actions_button {
    margin-right: 8px;
}

.sk_ui_dappTitlebar_actions_mac:last-child {
    margin-right: 0px;
}

.sk_ui_dappTitlebar_actions_button_mac {
    border-radius: 10px;
    width: 12px;
    height: 12px;
    padding: 0px !important;
    
}

.sk_ui_dappTitlebar_actions_button_mac:hover {
    background-color: inherit !important;
}

.sk_ui_dappTitlebar_actions_button_mac > .sk_ui_icon > #icon {
    font-size: 10px;
    opacity: 0;
    color: black;
    margin-top: 1px !important;
}
.sk_ui_dappTitlebar_actions_mac:hover > .sk_ui_dappTitlebar_actions_button_mac > .sk_ui_icon > #icon {
    opacity: 0.5;
}
.sk_ui_dappTitlebar_actions_button_mac:active {
    opacity: 1 !important;
    filter: brightness(1.4);
}

.sk_ui_dappTitlebar_actions_button_mac_maximize > .sk_ui_icon  {
    transform: rotate(-45deg);
}

.sk_ui_dappTitlebar_actions_button_mac_minimize > .sk_ui_icon  {
    font-size: 8px;
}

.sk_ui_dappTitlebar_actions_button_closeBtn {
    background-color: var(--sk_ui_dappTitlebar_color_button_close_mac);
}

.sk_ui_dappTitlebar_actions_button_minimizeBtn {
    background-color: var(--sk_ui_dappTitlebar_color_button_minimize_mac);
}

.sk_ui_dappTitlebar_actions_button_maximizeBtn {
    background-color: var(--sk_ui_dappTitlebar_color_button_maximize_mac);
}


.sk_ui_dappTitlebar_actions_button_closeBtn:hover {
    background-color: var(--sk_ui_dappTitlebar_color_button_close_mac) !important;
}

.sk_ui_dappTitlebar_actions_button_minimizeBtn:hover {
    background-color: var(--sk_ui_dappTitlebar_color_button_minimize_mac) !important;
}

.sk_ui_dappTitlebar_actions_button_maximizeBtn:hover {
    background-color: var(--sk_ui_dappTitlebar_color_button_maximize_mac) !important;
}
