.sk_ui_group {
    border-radius: 6px;
}

.sk_ui_group_opaque {
    background-color: rgb(26, 26, 26);
}

.sk_ui_group_container {
    overflow: hidden;
}

/* top container */
.sk_ui_group_top {
    border-radius: 4px 4px 0px 0px;
    padding-left: 8px;
    margin-bottom: 6px
}


.sk_ui_group_header {
    font-weight: 600;
    width: 100%;
}
