.sk_ui_complexity_object {
    outline: dashed 1px rgb(63, 63, 63);
}
.sk_ui_complexity_object_highlighted {
    outline: dashed 1px #c9c9c9;
}


.sk_ui_complexity_object_wireframeOff {
    outline: unset !important;
}

.sk_ui_complexity_object_selected {
    outline: dashed 1px #00c3ff !important;
}
/*.sk_ui_complexity_object_wireframeOff.sk_ui_complexity_object_selected {
    border: dashed !important;
}*/

.sk_ui_complexity_object_inflate {
    padding: 8px;
}

.sk_ui_complexity_object_edited_show {
    outline: dashed 1px #af10ff;
}

.sk_ui_complexity_object_classified {
    outline: dashed 1px #ffcc00;
}




/* object tree */




.sk_ui_complexity_appBody {
    left: 250px;
    right: 512px;
}

.sk_ui_complexity_editor {
    width: 250px;
    height: 100%;
    padding: 6px;
}

.sk_ui_complexity_editor_section {
    overflow-y: scroll;
    padding: 12px;
}

.sk_ui_complexity_codeEditor {
    position: absolute;
    width: 512px;
    height: 100%;
    padding: 0px;
    right: 0px;
}

.CodeMirror {
    border: 1px solid #4d4d4d;
    width: 100%;
    height: 100% !important;
  }
  