.sk_ui_iceRink {
}

.sk_ui_iceRink_contentWrapper {
    width: 100%;
    position: relative;
}

.sk_ui_iceRink_content {
    width: 100%;
    position: absolute;
    /*border: solid 1px red;*/
}

.sk_ui_iceRink_content_blocker {
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px red;
    background-color: transparent;
}

.sk_ui_iceRink_content_blocker_hidden {
    display: none;
}

.sk_ui_iceRink_scrollbarWrapper {
    position: absolute;
    width: 0px;
    height: 100%;
    right: 0px;
    opacity: 0;
}

.sk_ui_iceRink_native_scrollbar {
    position: absolute;
    left: 0px;
    top: 0px;
    /*width: var(--sk_ui_scrollbar_width);*/
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
}

.sk_ui_iceRink_native_scrollbar_fakeContent {
    padding: 1px;
}

.sk_ui_iceRink_scrollbar {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: var(--sk_ui_color_scrollbar_track);*/
    z-index: 5;
    border-radius: var(--sk_ui_scrollbar_track_radius);
    pointer-events: none;
}

.sk_ui_iceRink_scrollbar.sk_ui_isOnMobile {
    margin-left: -2px;
}

.sk_ui_iceRink_scrollbar_handle {
    position: absolute;
    width: 100%;
    min-height: 32px;
    background-color: var(--sk_ui_color_scrollbar_thumb);
    border-radius: var(--sk_ui_scrollbar_thumb_radius);
}

.sk_ui_iceRink_scrollbar_handle:hover {
    background-color: var(--sk_ui_color_dark_grey_2);
}




.sk_ui_iceRink_velocityLine {
    width: 1px;
    background-color: red;
    position: absolute;
    z-index: 99999999;
}

.sk_ui_iceRink_debugWnd {
    width: 256px;
    right: 0px;
    top: 0px;
    background-color: rgb(37, 37, 37);
    position: absolute;
    z-index: 99999999;
}