.sk_ui_iceRink {
    position: relative;
}

.sk_ui_iceRink_contentWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sk_ui_iceRink_content {
    position: absolute;
}