.sk_ui_hint {
    z-index: 9999 !important;
    position: absolute;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: rgba(55, 55, 55, 0.5);
    font-size: 12px;
}

.sk_ui_component_spaced_horizontal > .sk_ui_component {
    margin-right: 16px
}


.sk_ui_component_spaced_horizontal > .sk_ui_component:last-child {
    margin-right: 0px
}

.sk_ui_component_spaced_vertical > .sk_ui_component {
    margin-bottom: 16px
}


.sk_ui_component_spaced_vertical > .sk_ui_component:last-child {
    margin-bottom: 0px
}
