.sk_ui_linkButton {
    cursor: pointer;
    background-color: transparent !important;
}

.sk_ui_linkButton:hover {
    background-color: transparent;
}

.sk_ui_linkButton:hover > .sk_ui_label {
    text-decoration: underline;
    color: white !important;
}