.sk_ui_button {
    width: fit-content;
    padding: 12px 16px;
    position: relative;
    overflow: hidden;
    opacity: 0.5;
    pointer-events: none;
}

.sk_ui_button > * {
    pointer-events: none;
}

.sk_ui_button.sk_ui_isOnDesktop {
    padding: 8px 12px;
}

.sk_ui_button_enabled {
    opacity: 1;
    pointer-events: all;
}

.sk_ui_button_enabled_interactable:hover {
    background-color: var(--sk_ui_color_grey_2);
}

.sk_ui_button_enabled_interactable:active {
    opacity: 0.5;
}

.sk_ui_button_primary {
    background-color: var(--sk_ui_color_blue) !important;
}

.sk_ui_button_primary:hover {
    background-color: var(--sk_ui_color_blue_dark) !important;
}

.sk_ui_button_primary > .sk_ui_label {
    color: white;
}

.sk_ui_button_primary > .sk_ui_icon {
    color: white;
}


.sk_ui_button > .sk_ui_label {
    /*font-weight: 500;*/
}

.sk_ui_button > .sk_ui_icon {
    margin-right: 8px;
}

.sk_ui_button.normal {
    background-color: var(--sk_ui_color_dark_grey_2);
    border-radius: 6px;
}

.sk_ui_button.normal:hover {
    background-color: var(--sk_ui_color_dark_grey);
}

.sk_ui_button.clear {
    background-color: transparent;
}

.sk_ui_button.icon {
    padding: 8px 8px;
}

.sk_ui_button.icon > .sk_ui_icon {
    margin-right: 0px;
}

.sk_ui_button_vertical > .sk_ui_icon {
    margin-right: 0px;
    margin-bottom: 8px;
}

.sk_ui_button_toggled {
    background-color: var(--sk_ui_button_toggled_button_color) !important;
}

.sk_ui_button_toggled > .sk_ui_label {
    color: var(--sk_ui_text_color_full);
}

.sk_ui_button_toggled > i {
    color: var(--sk_ui_text_color_full);
}

.sk_ui_button_toggled:hover {
    background-color: var(--sk_ui_button_toggled_button_color_hover) !important;
}

.sk_ui_button_toggled:hover > .sk_ui_label {
    color: var(--sk_ui_button_toggled_text_color_hover);
}



.sk_ui_button_style_thin {
    padding: 02px 5px;
}

.sk_ui_button_style_thin > .sk_ui_icon {
    margin-right: 6px;
    font-size: 10px;
}

.sk_ui_button_style_action {
    border-radius: 6px;
    background-color: var(--sk_ui_color_dark_grey);
    
}

.sk_ui_button_style_action > .sk_ui_label {
    /*font-weight: 500;*/
}


.sk_ui_button_appearance_action {
    background-color: var(--sk_ui_color_dark_grey_2);
    border-radius: 6px;
}




.sk_ui_button_loader {
    width: 8px;
    height: 8px;

    border-radius: 4px;

    color: var(--sk_ui_text_color);
    background-color: var(--sk_ui_text_color);
    background-size: 400% 400%;
    animation: 1s ease 0s infinite normal none running sk_ui_button_loader;
}
  
@keyframes sk_ui_button_loader {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes sk_ui_button_loader {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}