.sk_ui_app {
    background-color: transparent;
}

.sk_app {
    border-radius: 0px !important;
}

.sk_ui_appBody {
    top: 0px !important;
}

.sk_ui_appBody_dapp {
    border-radius: 0px !important;
}