:root {
    --view-radius: 8px;
}

body {
    background-color: transparent;
    color: white;
    font-size: 12px;
    border-radius: var(--view-radius);
    overflow: hidden !important;
}

.sk_ui_face_color {
    background-color: var(--sk_ui_color_very_dark_grey);
}

.sk_ui_frosted {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.sk_ui_frosted.sk_ui_face_color {
    background-color: var(--sk_ui_color_very_dark_grey);
}

.sk_app {
    width: 100%;
    height: 100%;

    border-radius: var(--view-radius);
    overflow: hidden !important;
}

.sk_app > div {
    margin: 0px !important;
}

.sk_ui_appBody {
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--sk_ui_color_very_dark_grey);
}

.sk_ui_appBody.sk_ui_noTitlebar {
    top: 0px;
}

.sk_ui_appBody > div {
    width: 100%;
    height: 100%;
}

i.icon, i.icons, i.flag {
    margin: 0 !important;
    /*line-height: unset;*/
}

.hidden {
    display: none;
}

.sk_ui_transition {
    transition: 200ms;
}

.sk_ui_noSelect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.sk_ui_ignoreMouse {
    pointer-events: none;
}

.vertical_margin.normal > div:not(:first-child) {
    margin-top: 8px;
}

.sk_horizontal_margin > div:not(:first-child) {
    margin-left: 32px;
}



.sk_app_view {
    width: 100%;
    height: 100%;
}

.sk_fileDrop_active {
    border: dashed 1px rgba(255,255,255,1)
}


.sk_ui_fileDrop_Area {
    position: absolute;
    left: 4px;
    top: 4px;
    right: 4px;
    bottom: 4px;
    margin: 0px !important;
    /*backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.2);
    */
}

.sk_ui_fileDrop_Area_outline {
    width: 100%;
    height: 100%;
    border: dashed 2px rgba(255,255,255,0.2);
    transition: none;
}

/*.sk_ui_fileDrop_Area_outline:hover {
    background-color: rgba(255,255,255,0.8);
}*/


.sk_ui_fade_indicate {
    animation: sk_ui_fade_indicate_animation 1s infinite;
}

@keyframes sk_ui_fade_indicate_animation {
    0%   { opacity: 1}
    50%  { opacity: 0.1}
    100% { opacity: 1}
}

.sk_ui_canMoveView {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.sk_ui_cannotMoveView {
    -webkit-app-region: no-drag
}



.sk_ui_construction_stripes {
    background: repeating-linear-gradient(
        45deg,
        #5f3400,
        #775302 10px,
        #cca000 10px,
        #cca000 20px
    );

    border-radius: 8px;
    padding: 2px;
}


.sk_ui_spin {
    animation-name: sk_ui_spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.sk_ui_spin_slow {
    animation-name: sk_ui_spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
  
@keyframes sk_ui_spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}