
.sk_ui_gradient_default {
    color: #fff;
    background: linear-gradient(-45deg, #00ffc3, #00bcff, #ff0062, #ff3c00);;
    background-size: 400% 400%!important;
    animation: sk_ui_gradient_default 15s ease infinite;
}


@keyframes sk_ui_gradient_default {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_default {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.sk_ui_gradient_dark {
    color: #fff;
    background: linear-gradient(-45deg, #91a100, #0e5987, #61092b, #ce3000);
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_dark;
}
  
@keyframes sk_ui_gradient_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.sk_ui_gradient_orange {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(255 215 9), rgb(249 151 3), rgb(231 123 60), rgb(238 118 82));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_orange;
}
  
@keyframes sk_ui_gradient_orange {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_orange {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



.sk_ui_gradient_grey {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(171 171 171), rgb(117 117 117), rgb(185 185 185), rgb(74 74 74));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_grey;
}
  
@keyframes sk_ui_gradient_grey {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_grey {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.sk_ui_gradient_grey_dark {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(107, 107, 107), rgb(46, 46, 46), rgb(92, 92, 92), rgb(24, 24, 24));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_grey_dark;
}
  
@keyframes sk_ui_gradient_grey_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_grey_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.sk_ui_gradient_purple {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(0 100 255), rgb(216 0 255), rgb(157 0 255), rgb(104 0 255));
    background-size: 400% 400%;
    animation: 7s ease 0s infinite normal none running sk_ui_gradient_purple;
}
  
@keyframes sk_ui_gradient_purple {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_purple {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.sk_ui_gradient_green {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(190 255 0), rgb(50 204 0), rgb(0 224 90), rgb(0 235 147));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_green;
}

.sk_ui_gradient_green_dark_1 {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(143, 190, 0), rgb(43, 172, 0), rgb(0, 188, 75), rgb(0, 192, 122));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_green;
}
  
@keyframes sk_ui_gradient_green {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_green {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}




.sk_ui_gradient_red {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(255 0 106), rgb(204 0 0), rgb(255 59 0), rgb(255 0 0));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_red;
}
  
@keyframes sk_ui_gradient_red {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_red {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.sk_ui_gradient_red_dark {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(153, 0, 64), rgb(114, 0, 0), rgb(167, 39, 0), rgb(128, 0, 0));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_red;
}
  
@keyframes sk_ui_gradient_red {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_red {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}





.sk_ui_gradient_blue {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, rgb(0, 217, 217), rgb(95, 211, 255), rgb(76, 131, 255), rgb(42 147 255));
    background-size: 400% 400%;
    animation: 2s ease 0s infinite normal none running sk_ui_gradient_blue;
}
  
@keyframes sk_ui_gradient_blue {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_blue {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.sk_ui_gradient_black {
    background: linear-gradient(-45deg , rgb(61 61 61), rgb(34 34 34), rgb(24 24 24), rgb(0 0 0));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_black;
}

@keyframes sk_ui_gradient_black {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_black {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.sk_ui_gradient_green_dark {
    background: linear-gradient(-45deg, rgb(5 23 0), rgb(10 28 0), rgb(6 50 0), rgb(8 17 0));
    background-size: 400% 400%;
    animation: 15s ease 0s infinite normal none running sk_ui_gradient_green_dark;
}

@keyframes sk_ui_gradient_green_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@-moz-keyframes sk_ui_gradient_green_dark {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
