:root {
    --sk_ui_color_black: black;
    --sk_ui_color_black_75: rgba(0, 0, 0, 0.75);
    --sk_ui_color_black_50: rgba(0, 0, 0, 0.5);
    --sk_ui_color_black_25: rgba(0, 0, 0, 0.25);

    --sk_ui_color_very_dark_grey: rgb(20, 20, 20);
    --sk_ui_color_very_dark_grey_75: rgba(20, 20, 20, 0.75);
    --sk_ui_color_very_dark_grey_50: rgba(20, 20, 20, 0.5);
    --sk_ui_color_very_dark_grey_25: rgba(20, 20, 20, 0.25);
    
    --sk_ui_color_very_dark_grey_2: rgb(32, 32, 32);
    --sk_ui_color_very_dark_grey_2_75: rgba(32, 32, 32, 0.75);
    --sk_ui_color_very_dark_grey_2_50: rgba(32, 32, 32, 0.5);
    --sk_ui_color_very_dark_grey_2_25: rgba(32, 32, 32, 0.25);

    --sk_ui_color_dark_grey: rgb(48, 48, 48);
    --sk_ui_color_dark_grey_75: rgba(48, 48, 48, 0.75);
    --sk_ui_color_dark_grey_50: rgba(48, 48, 48, 0.5);
    --sk_ui_color_dark_grey_25: rgba(48, 48, 48, 0.25);

    --sk_ui_color_dark_grey_2: rgb(58, 58, 58);

    --sk_ui_color_grey: rgb(75, 75, 75);
    --sk_ui_color_grey_2: rgb(100, 100, 100);
    --sk_ui_color_grey_3: rgb(125, 125, 125);
    --sk_ui_color_grey_4: rgb(150, 150, 150);


    --sk_ui_color_blue: rgb(8, 136, 255);
    --sk_ui_color_blue_dark: rgb(3, 88, 167);
    --sk_ui_color_blue_very_dark: rgb(0, 47, 90);

    --sk_ui_color_slightly_white: rgb(220, 220, 220);

    --sk_ui_color_yellow: rgb(255, 217, 0);
    --sk_ui_color_yellow_dark: rgb(189, 160, 0);
    --sk_ui_color_yellow_very_dark: rgb(139, 119, 0);




    --sk_ui_text_color: var(--sk_ui_color_slightly_white);
    --sk_ui_text_color_full: white;





    --sk_ui_button_toggled_button_color: var(--sk_ui_color_blue);
    --sk_ui_button_toggled_text_color: white;

    --sk_ui_button_toggled_button_color_hover: var(--sk_ui_color_blue_dark);
    --sk_ui_button_toggled_text_color_hover: white;



    --sk_ui_component_sortable_placeholder: var(--sk_ui_color_grey_2);



    --sk_ui_color_scrollbar: transparent;
    --sk_ui_color_scrollbar_track: var(--sk_ui_color_very_dark_grey_2);
    --sk_ui_color_scrollbar_thumb: var(--sk_ui_color_grey);

    --sk_ui_scrollbar_width: 8px;
    --sk_ui_scrollbar_track_radius: 8px;
    --sk_ui_scrollbar_thumb_radius: 8px;
}

.sk_ui_color_blue {
    background-color: var(--sk_ui_color_blue);
}

.sk_ui_color_blue_dark {
    background-color: var(--sk_ui_color_blue_dark);
}


.sk_ui_color_dark_grey {
    background-color: var(--sk_ui_color_dark_grey);
}