.sk_ui_list {
    min-width: 200px;
    height: 100%;
    overflow: hidden;
}

.sk_ui_list_header {
    width: 100%;
    border-bottom: solid 1px var(--sk_ui_color_dark_grey_2);
}

.sk_ui_list_header:empty {
    border-bottom: unset;
}

.sk_ui_list_footer {
    padding: 1px;
    width: 100%;
    border-top: solid 1px var(--sk_ui_color_dark_grey_2);
}

.sk_ui_list_footer:empty {
    border-top: unset;
}


.sk_ui_list_container {
    padding: 1px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sk_ui_list > .sk_ui_list_container > .sk_ui_listItem {
    padding-left: 6px
}

.sk_ui_list_no_icons > .sk_ui_list_container > .sk_ui_listItem > .sk_ui_icon {
    width: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    background: var(--sk_ui_color_scrollbar) !important;
    width: var(--sk_ui_scrollbar_width) !important;
}

::-webkit-scrollbar-track {
    background:  var(--sk_ui_color_scrollbar_track) !important;
    border-radius: var(--sk_ui_scrollbar_track_radius) !important;
}

::-webkit-scrollbar-thumb {
    background:  var(--sk_ui_color_scrollbar_thumb) !important;
    border-radius: 10px !important;
}
