.sk_ui_dropdown {
    border-radius: 6px;
    background-color: #202020;
    padding: 6px;
    padding-left: 8px;
}

.sk_ui_dropdown > .sk_ui_icon {
    margin-right: 0px !important;
    margin-left: 4px !important;
}