.sk_ui_dropdown {
    border-radius: 8px;
    background-color: #202020;
    border: solid 1px #414141;
    padding: 6px;
    padding-left: 8px;
    height: 32px;
    overflow: hidden;
}

.sk_ui_dropdown_rightIcon {
    margin-right: 0px !important;
    margin-left: 4px !important;
}

.sk_ui_dropdown_leftIcon {
    margin-right: 4px;
}

.sk_ui_dropdown_editable.sk_ui_button_enabled_interactable:hover,
.sk_ui_dropdown_editable.sk_ui_button_enabled_interactable:active {
    background-color: #202020;
    opacity: 1;
}

.sk_ui_dropdown_editableMenuButton {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    pointer-events: all;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    z-index: 2;
}

.sk_ui_dropdown_editableMenuButton:hover {
    background-color: var(--sk_ui_color_grey_2) !important;
}

.sk_ui_dropdown_editableMenuButton:active {
    opacity: 0.5;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs {
    height: 100%;
    position: relative;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_input,
.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_input * {
    pointer-events: all;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_input {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    inset: 0;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_input > #inputEl {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_input > #inputEl > input {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_dropdown_autoComplete {
    opacity: 0.3;
    pointer-events: none !important;
    z-index: 0;
}

.sk_ui_dropdown_editable > .sk_ui_dropdown_editableInputs > .sk_ui_dropdown_autoComplete > #inputEl {
    z-index: 0;
}