.sk_ui_inputLabel {
    width: 52px;
    backdrop-filter: blur(8px);
    height: unset;
    border-radius: 6px;
    background-color: rgb(100 100 100 / 25%);
}

sk_ui_inputLabel > #inputEl {
    height: auto;
}

.sk_ui_inputLabel > #inputEl > input {
    text-align: center;
    background-color: transparent;
    border: unset;
}