
.sk_ui_hint {
    z-index: -1;
    position: absolute;
    padding: 4px 6px;
}

.sk_ui_hint_topMost {
    z-index: 999999999 !important;
}

.sk_ui_hint > .sk_ui_label {
    color: var(--sk_ui_text_color_full);
}