
.sk_ui_hint {
    position: absolute;
    padding: 4px 6px;
    max-width: 256px;

    position: absolute;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;

    width: fit-content;
    height: fit-content;
    min-width: 0px;
    min-height: 0px;

    
    background-color: rgba(55, 55, 55, 0.5);
}

.sk_ui_hint_hidden {
    z-index: -1 !important;
    opacity: 0;
}

.sk_ui_hint_topMost {
    z-index: 999999999 !important;
}

.sk_ui_hint > .sk_ui_label {
    color: var(--sk_ui_text_color_full);
}

.sk_ui_hint_green {
    background-color: rgba(0, 156, 0, 0.418);
}

.sk_ui_hint_red {
    background-color: rgba(156, 0, 0, 0.418);
}

.sk_ui_hint_error {
    background-color: rgba(156, 0, 0, 0.418);
    outline: solid 1px rgba(156, 0, 0, 1);
}