.sk_ui_scrollbar {
    z-index: 2;
    position: absolute;
    background-color: var(--sk_ui_color_scrollbar_track);
    width: 8px;
    margin: 0px !important;
    border-radius: 8px;
}

.sk_ui_scrollbar_hidden {
    transform: translate(-4px, 0px);
    opacity: 0;
}

.sk_ui_scrollbar_handle {
    background-color: var(--sk_ui_color_scrollbar_thumb);
    width: 100%;
    border-radius: 8px;
}

.sk_ui_scrollbar_handle:hover {
    background-color: var(--sk_ui_color_grey_2);
}

.sk_ui_scrollbar_handle:active {
    background-color: var(--sk_ui_color_dark_grey_2);
}


