.sk_ui_modal {
    z-index: 999;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.sk_ui_modal_dimmer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.sk_ui_modal_contentWrapper {
    height: 100%;
}
.sk_ui_modal_content {
    display: none;
    border-radius: 10px;
    width: 512px;
    max-width: 80%;

    position: relative;
}

.sk_ui_modal_closeBtn {
    z-index: 999;
    
    position: absolute;

    top: 8px;
    right: 8px;

    font-size: 18px;
}

.sk_ui_modal_closeProgressBar {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
}