.sk_ui_gradient_element {
    width: 100%;
    height: 100%;
}

.sk_ui_gradient_element_bgContainer {
    transform: rotate(0);
    animation: sk_ui_gradient_element_bgContainer_rotate 20s linear infinite;
}

@keyframes sk_ui_gradient_element_bgContainer_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}