.sk_ui_iceRink_v1 {
    position: relative;
}

.sk_ui_iceRink_v1_contentWrapper {
    width: 100%;
    position: relative;
}

.sk_ui_iceRink_v1_content {
    /* min-width: fit-content; */
    /* min-height: fit-content; */
    position: absolute;
    /*border: solid 1px red;*/
}

.sk_ui_iceRink_v1_content.sk_ui_isOnMobile {
    width: 100%;
    height: 100%;
}

.sk_ui_iceRink_v1_content_blocker {
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px red;
    background-color: transparent;
}

.sk_ui_iceRink_v1_content_blocker_hidden {
    display: none;
}

.sk_ui_iceRink_v1_scrollbarWrapper {
    position: absolute;
    opacity: 0;
}

.sk_ui_iceRink_v1_scrollbarWrapper_x {
    width: 100%;
    height: 0px;
    bottom: 0px;
}

.sk_ui_iceRink_v1_scrollbarWrapper_y {
    width: 0px;
    height: 100%;
    right: 0px;
}

.sk_ui_iceRink_v1_native_scrollbar {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
}

.sk_ui_iceRink_v1_native_scrollbar_x {
    left: 0px;
    top: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.sk_ui_iceRink_v1_native_scrollbar_y {
    left: 0px;
    top: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    /* display: none; */
    opacity: 0;
}


.sk_ui_iceRink_v1_native_scrollbar_fakeContent {
    padding: 1px;
}

.sk_ui_iceRink_v1_scrollbar {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: var(--sk_ui_color_scrollbar_track);*/
    z-index: 5;
    border-radius: var(--sk_ui_scrollbar_track_radius);
    pointer-events: none;
}

.sk_ui_iceRink_v1_scrollbar.sk_ui_isOnMobile {
    margin-left: -2px;
}

.sk_ui_iceRink_v1_scrollbar_handle {
    position: absolute;
    background-color: var(--sk_ui_color_scrollbar_thumb);
    border-radius: var(--sk_ui_scrollbar_thumb_radius);
}

.sk_ui_iceRink_v1_scrollbar_handle:hover {
    background-color: var(--sk_ui_color_dark_grey_2);
}


.sk_ui_iceRink_v1_scrollbar_handle_x {
    height: 100%;
    min-width: 32px;
}

.sk_ui_iceRink_v1_scrollbar_handle_y {
    width: 100%;
    min-height: 32px;
}



.sk_ui_iceRink_v1_velocityLine {
    width: 1px;
    background-color: red;
    position: absolute;
    z-index: 99999999;
}

.sk_ui_iceRink_v1_debugWnd {
    width: 256px;
    right: 0px;
    top: 0px;
    background-color: rgb(37, 37, 37);
    position: absolute;
    z-index: 99999999;
}