.sk_ui_iceRink_scrollbar {
    position: absolute;
    z-index: 9999999;
    border-radius: var(--sk_ui_scrollbar_track_radius);
    background-color: var(--sk_ui_color_scrollbar_track);
}

.sk_ui_iceRink_scrollbar_horizontal {
    width: 100%;
    height: 8px;
    max-height: 8px;
    bottom: 0px;
}

.sk_ui_iceRink_scrollbar_vertical {
    width: 8px;
    max-width: 8px;
    height: 100%;
    right: 0px;
}

.sk_ui_iceRink_scrollbar_horizontal > .sk_ui_iceRink_scrollbar_handleContainer > .sk_ui_iceRink_scrollbar_handle {
    height: 100%;
    min-width: 32px;
}

.sk_ui_iceRink_scrollbar_vertical > .sk_ui_iceRink_scrollbar_handleContainer > .sk_ui_iceRink_scrollbar_handle {
    width: 100%;
    min-height: 32px;
}


.sk_ui_iceRink_scrollbar_handleContainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    border-radius: var(--sk_ui_scrollbar_handle_radius);
}

.sk_ui_iceRink_scrollbar_handle {
    position: absolute;
    background-color: var(--sk_ui_color_scrollbar_handle);
    border-radius: var(--sk_ui_scrollbar_handle_radius);
}

.sk_ui_iceRink_scrollbar_handle:hover {
    background-color: var(--sk_ui_color_dark_grey_2);
}