.sk_ui_switch {
    background-color: #3c3c3c;
}

.sk_ui_switch > .sk_ui_component {
    background-color: #767676;
}

.sk_ui_switch_highlighted {
    background-color: rgb(0, 166, 255) !important;
}

.sk_ui_switch_highlighted > .sk_ui_component {
    background-color: white !important;
}

.sk_ui_switch_flipped {
    transform: rotate(180deg);
}
