.sk_ui_icon {
    color: var(--sk_ui_text_color);
    min-width: 14px;
    min-height: 14px;
    width: fit-content !important;
    height: fit-content !important;
}

.sk_ui_icon > svg {
    fill: var(--sk_ui_text_color);
}

.sk_ui_icon > svg * {
    fill: var(--sk_ui_text_color);
}