.sk_ui_colorPicker {
    position: relative;
    height: 24px;
    width: 64px;
    border-radius: 6px;
    overflow: hidden;
}

.sk_ui_colorPicker_filledPanel {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}